Internal CSS
<style>
p
{
  font style:italics;
  font family:sans-serif;
  color:"brown";
  }


h1
  {
    font style:italics;
    font family: sans-serif;
    color:"blue";
    }
    h2
  {
    font style:italics;
    font family: sans-serif;
    color:"pink";
    }




  
</style>
